<ion-view view-title="Cronómetro">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
    <ion-list>
      <div class="card">
        <div class="item item-divider">
          Contador
        </div>
        <div class="item item-text-wrap">
          {{"00:00:10"}}
        </div>

        <label class="item item-input item-select">
          <div class="input-label">
            Actividad
          </div>
            <select>
              <option>Opcion 1</option>
              <option selected>Opcion 2</option>
              <option>Opcion 3</option>
            </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Estado de animo
          </div>
            <select>
              <option>Opcion 1</option>
              <option selected>Opcion 2</option>
              <option>Opcion 3</option>
            </select>
        </label>

        <div class="item">
          <button class="button button-block button-positive">
            Iniciar
          </button>

          <button class="button button-block button-royal">
            Pausar
          </button>
        </div>

        <div class="item">
          <button class="button button-block button-large button-assertive">
            Marcar
          </button>
        </div>

        <div class="item item-divider">
        </div>
      </div>
    </ion-list>

  </ion-content>
</ion-view>
