<ion-view view-title="Cronómetro">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
      <div class="card">
        <div class="item item-divider">
        </div>
        <div class="item item-text-wrap cronometro">
          {{horas}}:{{minutos}}:{{segundos}}
        </div>

        <label class="item item-select">
          <p><strong>Actividad</strong></p>
          <div class="input-label">
            <i class="icon {{actividad.icono}}"></i>
          </div>
            <select ng-model="actividad"
                    ng-options="actividad.nombre
                                for actividad in actividades
                                track by actividad.id"
                    ng-change="selectorActividad(actividad)">
            </select>
        </label>

        <label class="item item-select">
          <p><strong>Estado</strong></p>
          <div class="input-label">
            <i class="icon {{estadoDeAnimo.icono}}"></i>
          </div>
            <select ng-model="estadoDeAnimo"
                    ng-options="estado.nombre
                                for estado in estadosDeAnimo
                                track by estado.id"
                    ng-change="selectorEstadoDeAnimo(estadoDeAnimo)">
            </select>
        </label>

        <div class="item">
          <button class="button button-block button-positive"
                  ng-click="iniciar()"
                  ng-if="!isContando && !isContador">
            Iniciar
          </button>

          <button class="button button-block button-royal"
                  ng-click="pausar()"
                  ng-if="isContando">
            Pausar
          </button>

          <button class="button button-block button-royal"
                  ng-click="iniciar()"
                  ng-if="isContador && !isContando">
            Reanudar
          </button>

          <button class="button button-block button-stable"
                  ng-click="limpieza()"
                  ng-if="isContador && !isContando">
            Reiniciar
          </button>
          <button class="button button-block button-large button-assertive"
                  ng-click="marcar()"
                  ng-if="isContando || isContador">
            Marcar
          </button>

        </div>

        <div class="item item-divider">
        </div>
      </div>

  </ion-content>
</ion-view>
