<ion-view view-title="Resumen">
  <ion-content>

    <!-- content goes here -->
    <ion-list>
      <ion-item
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap">
        <!-- ui-sref="main.listDetail"> -->
        <img src="main/assets/images/yo@2x.png">
        <h2>Actividad mas veces realizada</h2>
        <p>Estudiar</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item
        class="item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap">
        <!-- ui-sref="main.listDetail"> -->
        <img src="main/assets/images/yo@2x.png">
        <h2>Mayor tiempo dedicado a una actividad</h2>
        <p>Programar: 01:00:00</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
