<ion-view view-title="Registro">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
    <ion-list>
      <ion-item class="list card item-toggle-option"
                collection-repeat="registro in registros | orderBy:'-fecha'">
        <div class="item item-divider item-icon-left item-icon-right">
          <i class="icon {{registro.idActividad | nombreIconoActividad }}"></i>
          <h2>{{registro.idActividad | nombreActividad }}</h2>
          <p>{{registro.horas}}:{{registro.minutos}}:{{registro.segundos}}</p>
          <i class="icon {{registro.idEstadoDeAnimo | nombreIconoEstado }}"></i>
        </div>

        <div class="item-body">
          <div ng-if="registro.descripcion">
            {{registro.descripcion}}
          </div>
            <a href="#" class="subdued">{{registro.fecha | date:'medium'}}</a>
        </div>

        <ion-option-button class="button-info"
                           ng-click="eliminarRegistro(registro.id)">
          Borrar
        </ion-option-button>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
